In [7]:
TODAY_DT = date.today().strftime("%Y-%m-%d")

# 1. Creating the default dates

In [123]:
import pandas as pd

In [119]:
# https://en.wikipedia.org/wiki/Elizabeth_II

events = {
    "Philip's birth": {'date': '1921-06-10', 'importance': 1, 'category': 'Prince Philip'},
    "Elizabeth's birth": {'date': '1926-04-21', 'importance': 1, 'category': 'Elizabeth II'},
    'Engagement': {'date': '1947-07-09', 'importance': 3, 'category': 'Both'},
    'Wedding': {'date': '1947-11-20', 'importance': 2, 'category': 'Both'},
    "Charles' birth": {'date': '1948-11-14', 'importance': 1, 'category': 'Both'},
    "Anne's birth": {'date': '1950-08-15', 'importance': 2, 'category': 'Both'},
    'Beginning of reign': {'date': '1952-02-06', 'importance': 1, 'category': 'Both'},
    'Coronation': {'date': '1953-06-02', 'importance': 2, 'category': 'Both'},
    "Andrew's birth": {'date': '1960-02-19', 'importance': 2, 'category': 'Both'},
    "Edward's birth": {'date': '1964-03-10', 'importance': 2, 'category': 'Both'},
    "Philip's death": {'date': '2021-04-09', 'importance': 2, 'category': 'Prince Philip'},
    "Elizabeth's death": {'date': '2022-09-08', 'importance': 1, 'category': 'Elizabeth II'},
}

events_df = pd.DataFrame.from_dict(events, orient='index').reset_index().rename(columns={'index':'event'})
events_df

                 event        date  importance       category
0       Philip's birth  1921-06-10           1  Prince Philip
1    Elizabeth's birth  1926-04-21           1   Elizabeth II
2           Engagement  1947-07-09           3           Both
3              Wedding  1947-11-20           2           Both
4       Charles' birth  1948-11-14           1           Both
5         Anne's birth  1950-08-15           2           Both
6   Beginning of reign  1952-02-06           1           Both
7           Coronation  1953-06-02           2           Both
8       Andrew's birth  1960-02-19           2           Both
9       Edward's birth  1964-03-10           2           Both
10      Philip's death  2021-04-09           2  Prince Philip
11   Elizabeth's death  2022-09-08           1   Elizabeth II

In [120]:
events_df.to_csv("events.csv", index=False)

# 2. Defining the csv of dates

In [121]:
events_df = pd.read_csv("events.csv")
events_df.head()

               event        date  importance       category
0     Philip's birth  1921-06-10           1  Prince Philip
1  Elizabeth's birth  1926-04-21           1   Elizabeth II
2         Engagement  1947-07-09           3           Both
3            Wedding  1947-11-20           2           Both
4     Charles' birth  1948-11-14           1           Both

In [122]:
events = events_df.set_index('event').transpose().to_dict()
events

{"Philip's birth": {'date': '1921-06-10',
  'importance': 1,
  'category': 'Prince Philip'},
 "Elizabeth's birth": {'date': '1926-04-21',
  'importance': 1,
  'category': 'Elizabeth II'},
 'Engagement': {'date': '1947-07-09', 'importance': 3, 'category': 'Both'},
 'Wedding': {'date': '1947-11-20', 'importance': 2, 'category': 'Both'},
 "Charles' birth": {'date': '1948-11-14', 'importance': 1, 'category': 'Both'},
 "Anne's birth": {'date': '1950-08-15', 'importance': 2, 'category': 'Both'},
 'Beginning of reign': {'date': '1952-02-06',
  'importance': 1,
  'category': 'Both'},
 'Coronation': {'date': '1953-06-02', 'importance': 2, 'category': 'Both'},
 "Andrew's birth": {'date': '1960-02-19', 'importance': 2, 'category': 'Both'},
 "Edward's birth": {'date': '1964-03-10', 'importance': 2, 'category': 'Both'},
 "Philip's death": {'date': '2021-04-09',
  'importance': 2,
  'category': 'Prince Philip'},
 "Elizabeth's death": {'date': '2022-09-08',
  'importance': 1,
  'category': 'Elizabeth II'}}

# 3. Functions

In [24]:
from datetime import datetime, date, timedelta

In [66]:
def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return abs((d2 - d1).days)

def rule_multiple(dt1, dt2, n):
    if days_between(dt1.strftime('%Y-%m-%d'), dt2) % n == 0:
        return True
    else:
        return False

def anniversary(check_date, event_date):
    if check_date.month == event_date.month and check_date.day == event_date.day:
        return check_date.year - event_date.year
    else:
        return None

In [44]:
# iterator by date
# date format of input args: date(YYYY, MM, DD)
def daterange(start_date, end_date):
    for n in range(int((end_date - start_date).days)):
        yield start_date + timedelta(n)

In [69]:
def range_calendar(dt_start, dt_end):
    for dt in daterange(dt_start, dt_end):
        for event in events.keys():
            if (
                (rule_multiple(dt, events[event]['date'], 100) and events[event]['importance'] <= 2)
                or
                (rule_multiple(dt, events[event]['date'], 1000) and events[event]['importance'] == 3)
            ):
                print("{} -- {} days since {}".format(dt, days_between(dt.strftime('%Y-%m-%d'), events[event]['date']), event))
            if anniversary(dt, datetime.strptime(events[event]['date'], "%Y-%m-%d")):
                print("{} -- {} years since {}".format(dt, anniversary(dt, datetime.strptime(events[event]['date'], "%Y-%m-%d")), event))

In [131]:
def age_counter(birthday_dt_1, birthday_dt_2, given_dt):
    print("Age difference: {} days".format(days_between(birthday_dt_1, birthday_dt_2)))
    print("Elizabeth II age: {} days".format(days_between(given_dt, birthday_dt_1)))
    print("Prince Philip age: {} days".format(days_between(given_dt, birthday_dt_2)))
    print("Total age: {} days".format(days_between(given_dt, birthday_dt_2) + days_between(given_dt, birthday_dt_1)))

def total_age_anniversaries(birthday_dt_1, birthday_dt_2, start_dt, end_dt):
    for dt in daterange(datetime.strptime(start_dt, "%Y-%m-%d"), datetime.strptime(end_dt, "%Y-%m-%d")):
        if (
            (days_between(dt.strftime('%Y-%m-%d'), birthday_dt_1) + days_between(dt.strftime('%Y-%m-%d'), birthday_dt_2)) % 1000 == 0
            or 
            (days_between(dt.strftime('%Y-%m-%d'), birthday_dt_1) + days_between(dt.strftime('%Y-%m-%d'), birthday_dt_2)) % 1000 == 1
        ):
            print("{} -- {} days of their combined age".format(dt.strftime('%Y-%m-%d'), 
                                                               days_between(dt.strftime('%Y-%m-%d'), birthday_dt_1) + days_between(dt.strftime('%Y-%m-%d'), birthday_dt_2)
                                                              ))

def differences_inside_set(events):
    for event1 in events.keys():
        for event2 in events.keys():
            if days_between(events[event1]['date'], events[event2]['date']) % 100 == 0 and event1 != event2 and events[event1]['date'] < events[event2]['date']:
                print("{} days between {} and {}".format(days_between(events[event1]['date'], events[event2]['date']), event1, event2))

# 4. Performing

In [99]:
print("Today is...")
for event in events.keys():
    print("{} days since {}".format(days_between(TODAY_DT, events[event]['date']), event))

Today is...
37236 days since Philip's birth
35460 days since Elizabeth's birth
27711 days since Engagement
27577 days since Wedding
27217 days since Charles' birth
26578 days since Anne's birth
26038 days since Beginning of reign
25556 days since Coronation
23103 days since Andrew's birth
21622 days since Edward's birth
773 days since Philip's death
256 days since Elizabeth's death

In [100]:
range_calendar(date.today(), date(2023, 12, 31))

2023-06-02 -- 70 years since Coronation
2023-06-10 -- 102 years since Philip's birth
2023-06-13 -- 26600 days since Anne's birth
2023-06-14 -- 27600 days since Wedding
2023-06-18 -- 800 days since Philip's death
2023-07-01 -- 35500 days since Elizabeth's birth
2023-07-05 -- 25600 days since Coronation
2023-07-05 -- 300 days since Elizabeth's death
2023-07-09 -- 76 years since Engagement
2023-07-23 -- 26100 days since Beginning of reign
2023-07-25 -- 37300 days since Philip's birth
2023-08-08 -- 21700 days since Edward's birth
2023-08-13 -- 27300 days since Charles' birth
2023-08-15 -- 73 years since Anne's birth
2023-08-27 -- 23200 days since Andrew's birth
2023-09-08 -- 1 years since Elizabeth's death
2023-09-21 -- 26700 days since Anne's birth
2023-09-22 -- 27700 days since Wedding
2023-09-26 -- 900 days since Philip's death
2023-10-09 -- 35600 days since Elizabeth's birth
2023-10-13 -- 25700 days since Coronation
2023-10-13 -- 400 days since Elizabeth's death
2023-10-31 -- 26200 days since Beginning of reign
2023-11-02 -- 37400 days since Philip's birth
2023-11-14 -- 75 years since Charles' birth
2023-11-16 -- 21800 days since Edward's birth
2023-11-20 -- 76 years since Wedding
2023-11-21 -- 27400 days since Charles' birth
2023-12-05 -- 23300 days since Andrew's birth
2023-12-30 -- 26800 days since Anne's birth

In [129]:
birthday_dt_1 = events["Elizabeth's birth"]['date']
birthday_dt_2 = events["Philip's birth"]['date']
given_dt = events["Philip's death"]['date']

In [130]:
age_counter(birthday_dt_1, birthday_dt_2, given_dt)

Age difference: 1776 days
Elizabeth II age: 34687 days
Prince Philip age: 36463 days
Total age: 71150 days

In [128]:
total_age_anniversaries(birthday_dt_1, birthday_dt_2, events['Engagement']['date'], events["Philip's death"]['date'])

1948-07-06 -- 18000 days of their combined age
1949-11-18 -- 19000 days of their combined age
1951-04-02 -- 20000 days of their combined age
1952-08-14 -- 21000 days of their combined age
1953-12-27 -- 22000 days of their combined age
1955-05-11 -- 23000 days of their combined age
1956-09-22 -- 24000 days of their combined age
1958-02-04 -- 25000 days of their combined age
1959-06-19 -- 26000 days of their combined age
1960-10-31 -- 27000 days of their combined age
1962-03-15 -- 28000 days of their combined age
1963-07-28 -- 29000 days of their combined age
1964-12-09 -- 30000 days of their combined age
1966-04-23 -- 31000 days of their combined age
1967-09-05 -- 32000 days of their combined age
1969-01-17 -- 33000 days of their combined age
1970-06-01 -- 34000 days of their combined age
1971-10-14 -- 35000 days of their combined age
1973-02-25 -- 36000 days of their combined age
1974-07-10 -- 37000 days of their combined age
1975-11-22 -- 38000 days of their combined age
1977-04-05 -- 39000 days of their combined age
1978-08-18 -- 40000 days of their combined age
1979-12-31 -- 41000 days of their combined age
1981-05-14 -- 42000 days of their combined age
1982-09-26 -- 43000 days of their combined age
1984-02-08 -- 44000 days of their combined age
1985-06-22 -- 45000 days of their combined age
1986-11-04 -- 46000 days of their combined age
1988-03-18 -- 47000 days of their combined age
1989-07-31 -- 48000 days of their combined age
1990-12-13 -- 49000 days of their combined age
1992-04-26 -- 50000 days of their combined age
1993-09-08 -- 51000 days of their combined age
1995-01-21 -- 52000 days of their combined age
1996-06-04 -- 53000 days of their combined age
1997-10-17 -- 54000 days of their combined age
1999-03-01 -- 55000 days of their combined age
2000-07-13 -- 56000 days of their combined age
2001-11-25 -- 57000 days of their combined age
2003-04-09 -- 58000 days of their combined age
2004-08-21 -- 59000 days of their combined age
2006-01-03 -- 60000 days of their combined age
2007-05-18 -- 61000 days of their combined age
2008-09-29 -- 62000 days of their combined age
2010-02-11 -- 63000 days of their combined age
2011-06-26 -- 64000 days of their combined age
2012-11-07 -- 65000 days of their combined age
2014-03-22 -- 66000 days of their combined age
2015-08-04 -- 67000 days of their combined age
2016-12-16 -- 68000 days of their combined age
2018-04-30 -- 69000 days of their combined age
2019-09-12 -- 70000 days of their combined age
2021-01-24 -- 71000 days of their combined age

In [132]:
differences_inside_set(events)

25300 days between Coronation and Elizabeth's death