# 1. Creating the list of dates

In [24]:
from datetime import datetime, date, timedelta
import pandas as pd

In [7]:
TODAY_DT = date.today().strftime("%Y-%m-%d")

In [13]:
def days_between(d1, d2):
    d1 = datetime.strptime(d1, "%Y-%m-%d")
    d2 = datetime.strptime(d2, "%Y-%m-%d")
    return abs((d2 - d1).days)

def anniversary(check_date, event_date):
    if check_date.month == event_date.month and check_date.day == event_date.day:
        return check_date.year - event_date.year
    else:
        return None

# iterator by date
# date format of input args: date(YYYY, MM, DD)
def daterange(start_date, end_date):
    for n in range(int((end_date - start_date).days)):
        yield start_date + timedelta(n)

In [36]:
# https://en.wikipedia.org/wiki/Elizabeth_II

events = {
    'Birth': {'date': '1926-04-21', 'importance': 1, 'category': 'Elizabeth II'},
    'Engagement with Philip': {'date': '1947-07-09', 'importance': 3, 'category': 'Elizabeth II'},
    'Wedding with Philip': {'date': '1947-11-20', 'importance': 2, 'category': 'Elizabeth II'},
    "Charles' birth": {'date': '1948-11-14', 'importance': 2, 'category': 'Elizabeth II'},
    "Anne's birth": {'date': '1950-08-15', 'importance': 2, 'category': 'Elizabeth II'},
    'Beginning of reign': {'date': '1952-02-06', 'importance': 1, 'category': 'Elizabeth II'},
    'Coronation': {'date': '1953-06-02', 'importance': 2, 'category': 'Elizabeth II'},
    "Andrew's birth": {'date': '1960-02-19', 'importance': 2, 'category': 'Elizabeth II'},
    "Edward's birth": {'date': '1964-03-10', 'importance': 2, 'category': 'Elizabeth II'},
    "Philip's death": {'date': '2021-04-09', 'importance': 2, 'category': 'Elizabeth II'},
    'Death': {'date': '2022-09-08', 'importance': 1, 'category': 'Elizabeth II'},
}

events_table = pd.DataFrame.from_dict(events, orient='index').reset_index().rename(columns={'index':'event'})
events_table

                     event        date  importance      category
0                    Birth  1926-04-21           1  Elizabeth II
1   Engagement with Philip  1947-07-09           3  Elizabeth II
2      Wedding with Philip  1947-11-20           2  Elizabeth II
3           Charles' birth  1948-11-14           2  Elizabeth II
4             Anne's birth  1950-08-15           2  Elizabeth II
5       Beginning of reign  1952-02-06           1  Elizabeth II
6               Coronation  1953-06-02           2  Elizabeth II
7           Andrew's birth  1960-02-19           2  Elizabeth II
8           Edward's birth  1964-03-10           2  Elizabeth II
9           Philip's death  2021-04-09           2  Elizabeth II
10                   Death  2022-09-08           1  Elizabeth II

In [37]:
print("Today is...")
for event in events.keys():
    print("{} days since {}".format(days_between(TODAY_DT, events[event]['date']), event))

Today is...
35460 days since Birth
27711 days since Engagement with Philip
27577 days since Wedding with Philip
27217 days since Charles' birth
26578 days since Anne's birth
26038 days since Beginning of reign
25556 days since Coronation
23103 days since Andrew's birth
21622 days since Edward's birth
773 days since Philip's death
256 days since Death

In [38]:
for event1 in events.keys():
    for event2 in events.keys():
        if days_between(events[event1]['date'], events[event2]['date']) % 100 == 0 and event1 != event2 and events[event1]['date'] < events[event2]['date']:
            print("{} days between {} and {}".format(days_between(events[event1]['date'], events[event2]['date']), event1, event2))

print("")

25300 days between Coronation and Death

In [39]:
for dt in daterange(date.today(), date(2023, 12, 31)):
    for event in events.keys():
        if (
            (days_between(dt.strftime('%Y-%m-%d'), events[event]['date']) % 100 == 0 and events[event]['importance'] <= 2)
            or
            (days_between(dt.strftime('%Y-%m-%d'), events[event]['date']) % 1000 == 0 and events[event]['importance'] == 3)
        ):
            print("{} -- {} days since {}".format(dt, days_between(dt.strftime('%Y-%m-%d'), events[event]['date']), event))
        if anniversary(dt, datetime.strptime(events[event]['date'], "%Y-%m-%d")):
            print("{} -- {} years since {}".format(dt, anniversary(dt, datetime.strptime(events[event]['date'], "%Y-%m-%d")), event))

2023-06-02 -- 70 years since Coronation
2023-06-13 -- 26600 days since Anne's birth
2023-06-14 -- 27600 days since Wedding with Philip
2023-06-18 -- 800 days since Philip's death
2023-07-01 -- 35500 days since Birth
2023-07-05 -- 25600 days since Coronation
2023-07-05 -- 300 days since Death
2023-07-09 -- 76 years since Engagement with Philip
2023-07-23 -- 26100 days since Beginning of reign
2023-08-08 -- 21700 days since Edward's birth
2023-08-13 -- 27300 days since Charles' birth
2023-08-15 -- 73 years since Anne's birth
2023-08-27 -- 23200 days since Andrew's birth
2023-09-08 -- 1 years since Death
2023-09-21 -- 26700 days since Anne's birth
2023-09-22 -- 27700 days since Wedding with Philip
2023-09-26 -- 900 days since Philip's death
2023-10-09 -- 35600 days since Birth
2023-10-13 -- 25700 days since Coronation
2023-10-13 -- 400 days since Death
2023-10-31 -- 26200 days since Beginning of reign
2023-11-14 -- 75 years since Charles' birth
2023-11-16 -- 21800 days since Edward's birth
2023-11-20 -- 76 years since Wedding with Philip
2023-11-21 -- 27400 days since Charles' birth
2023-12-05 -- 23300 days since Andrew's birth
2023-12-30 -- 26800 days since Anne's birth

In [ ]:

Dasha_birthday_dt = '1997-10-31'
Sasha_birthday_dt = '1992-05-26'

print("")
print("Age difference: {} days".format(days_between(Sasha_birthday_dt, Dasha_birthday_dt)))
print("Sasha age: {} days".format(days_between(TODAY_DT, Sasha_birthday_dt)))
print("Dasha age: {} days".format(days_between(TODAY_DT, Dasha_birthday_dt)))
print("Total age: {} days".format(days_between(TODAY_DT, Dasha_birthday_dt) + days_between(today_dt, Sasha_birthday_dt)))

for date in daterange(date.today(), date(2023, 12, 31)):
    if (days_between(date.strftime('%Y-%m-%d'), Dasha_birthday_dt) + days_between(date.strftime('%Y-%m-%d'), Sasha_birthday_dt)) % 1000 == 0:
        print("{} -- {} days of our combined age".format(date, days_between(date.strftime('%Y-%m-%d'), Dasha_birthday_dt) + days_between(date.strftime('%Y-%m-%d'), Sasha_birthday_dt)))